<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Seth Drew">

    <!-- D3 include for visualizations -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
 <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


    <script src="{{url_for('static', filename='js/gridvis.js')}}"></script>
        <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <button onclick="toggleNodes()">Toggle Nodes</button>
        <button onclick="toggleLinks()">Toggle Links</button>

      </div>
      <div class="row">
        <input class="curgraph" type="checkbox" value="4x4rook" checked=checked name="4x4 rook">
        <input class="curgraph" type="checkbox" value="3x3queen" name="3x3 queen">

      </div>
      <div class="row">
       
          <div class='col-lg-9' id="metagraph">
            <svg id="graphsvg" width="1200" height="1000"></svg>
        </div>
         <div class='col-lg-3' id="grid">
            <svg id="gridsvg0" width="200" height="200"></svg>
            <svg id="gridsvg1" width="200" height="200"></svg>
            <svg id="gridsvg2" width="200" height="200"></svg>
            <svg id="gridsvg3" width="200" height="200"></svg>
        </div>
    </div>

    </div>

    



    <script> 
 

    var tnode = false;
    var tlink = false;
  var degrees = [];
  var curgraph = $('.curgraph:checked').val();



  var svg = d3.select("#graphsvg"),
      width = +svg.attr("width"),
      height = +svg.attr("height");

  var color = d3.scaleOrdinal(d3.schemeCategory10);
  var timecolor = d3.scaleLinear()
        .domain([0, 150])
        .range(["orange","blue"]);

  var simulation = d3.forceSimulation()
      .force("link", d3.forceLink().id(function(d) { return d.id; }))
      .force("charge", d3.forceManyBody())
      .force("center", d3.forceCenter(width / 2, height / 2));

  var iter = 0; // controls which grid svg is next to update

  $.get("/getmeta?curgraph="+curgraph, function(graph, err) {

    var rows = [...Array(graph.data.length).keys()];
    var nodes = [];
   
    var links = [];

    degrees = new Array(graph.data.length).fill(0);
    rows.forEach(function(d, i) {
      graph.data[i].slice(1).forEach(function(e, j) {
        if(graph.data[i][j] > 0) {
          links.push({source: i, target: j});
          degrees[i] +=1;
        }
      });
    });

    console.log(degrees);
    rows.forEach(function(row, i){
      nodes.push({"id":row});
    });


    var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(links)
        .enter().append("line")
        .attr("stroke", "grey")
        .attr("stroke-width", 1)
        

    var node = svg.append("g")
        .attr("class", "nodes")
      .selectAll("circle")
      .data(nodes)
      .enter().append("circle")
        .attr("r", function(d){return Math.pow(degrees[d.id],2)/5})
        .style("fill", function (d) { return timecolor(d.id);})
        .on("dblclick", function(d){
          showGraph(d.id, iter++%4);
        })
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

    simulation
      .nodes(nodes)
      .on("tick", ticked);

    simulation.force("link")
      .links(links);

    function ticked() {
      link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node
          .attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });
    }
  });

  function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
  }

  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }
  function toggleNodes(){
    if(tnode){
      d3.selectAll("circle").attr("r", function(d){ return Math.pow(degrees[d.id],2)/5;});
      tnode = false;

      } 
      else{ 
        tnode=true;
        d3.selectAll("circle").attr("r", function(d){ return 0})
      }
  }
  function toggleLinks(){
    if(tlink){
      d3.selectAll("line").attr("stroke-width", function(d){ return 1});
      tlink = false;

      } 
      else{ 
        tlink=true;
        d3.selectAll("line").attr("stroke-width", function(d){ return 0})
      }
  }

    </script>


  </body>
 

</html>
